$blk:#1c1b1a;
$base:#f18e00;
$gray:#7f7f7f;

@mixin font-family {font-family: Helvetica, "Microsoft YaHei","Heiti","Heiti SC", "DroidSans", "DroidSansFallback","Helvetica Neue",  "STHeiTi", Arial, sans-serif;}
/* reset */
html{@include font-family;height:100%;min-width:6.4rem;-webkit-tap-highlight-color: transparent;}
body{margin:0;padding:0;background: #f7f7f7;color:$blk;-webkit-text-size-adjust:none;height:100%;}
ul,ol,li,form{margin:0;padding:0;-webkit-overflow-scrolling : touch;}
ul,ol{list-style:none;}
img{border:0;}
em,i,span{font-style: normal;}
h1,h2,h3,h4,div,li,p{margin:0;padding:0;font-weight:normal;-webkit-tap-highlight-color:transparent;-webkit-overflow-scrolling : touch;}
input, select, textarea{-webkit-tap-highlight-color: rgba(0,0,0,0);margin:0;padding:0;@include font-family; -webkit-appearance: none;
    &:focus{outline: none}
}
a{color:$blk;text-decoration: none;}
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }

// ==================    reset  end ===============
/* public style*/
html,body{overflow:scroll;}
#lifeFor{height:100%;max-width:6.4rem;margin:0 auto;}
// login page
#login{position:relative;font-size:.36rem;background-color:#cefedd;min-height:100%;
    .log{height:4.6rem;width:3.2rem;text-align:center;margin:0 auto;line-height: 4.6rem;font-size:1rem;color:rgba(119, 119, 119, 0.51);}
    .login_form{width:5rem;margin:0 auto;
        .inp{width:100%;border:none;border-bottom:1px solid rgba(167, 212, 105, 0.6);border-radius:.07rem;padding:.2rem .2rem;box-sizing: border-box;text-align:center;
            margin-bottom:.36rem;font-size:.26rem;background-color:rgba(255, 255, 255, 0);
        }
        .login_btn{border:none;background-color:rgba(167, 212, 105, 0.7);color:rgba(255, 255, 255, .6);margin-bottom: 0;margin-top: .6rem;
            &:active{background-color: rgba(167, 212, 105, .9);color:rgba(255, 255, 255, .9)}
        }
    }
    .guid_info{width:5rem;margin:0 auto;text-align:right;color:#555;font-size: .2rem;margin-top:.3rem;
        span{margin-right:.10rem;
            &.forget{margin-left: .10rem;margin-right:0;}
        }
    }
}